@import "common/common";
@import "~angular-material/angular-material";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.app {
  height: 100%;
  background-color: $bgColor;

  *{
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
}

