<div class="sidebar">
    <div class="img-wrapper">
        <img src="./app/img/logo.png" alt="logo">
    </div>
    <h2>Lilly</h2>
    <h3>Direct Psychic</h3>
    <div class="services clearfix">
        <div class="left-side">
            <div class="img-wrapper">
                <img src="./app/img/mail.png" alt="mail">
            </div>
        </div>
        <div class="right-side">
            <p>Personalized Reading</p>
            <button type="button" class="detail-btn">Details</button>
        </div>
    </div>
    <!--<button ng-click="$ctrl.addItems()">Add</button>-->
    <p ng-repeat="item in $ctrl.items"
       class="fade" ng-style="{'animation': $index * 2000+'ms appear'}">
        {{$index * 500}}{{ item }}
    </p>
</div>